<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="ISO-8859-1">
	<title>Cookbook App</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- js library -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<!-- Latest compiled JavaScript bundle-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
	<!-- jQuery library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="/js/main.js"></script>
</head>
	<body>
		<!-- THIS IS THE NAVBAR -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light">
			<a class="navbar-brand" href="#">Cookbook v1.0</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="/">Homepage</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/recipes">Recipes</a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link" href="/recipes/create">Create a new recipe<span class="sr-only">(current)</span></a>
			  </li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
			  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		  </div>
		</nav>
		
		<!-- THESE ARE THE CONTROLS -->
		<div class="container" style="float: center;">
			<form name="recipeForm" th:object="${recipe}" method="post" enctype="multipart/form-data">
				  <hr>
				  <button type="submit" class="btn btn-primary">Create the recipe !</button>
				  <hr>
				  <div class="form-group">
				    <label for="recipeTitleInput">Recipe title</label>
				    <input th:field="*{recipeTitle}" type="text" class="form-control rounded-0" id="recipeTitleInput" placeholder="Recipe title goes here ..." >
				  </div>
				  <div class="form-group">
				    <label for="recipeDescriptionInput">Recipe description</label>
				    <textarea th:field="*{recipeDescription}" class="form-control rounded-0" id="recipeDescriptionInput" rows="3"></textarea>
				  </div>
				  <div class="form-group">
				    <label for="recipeInstructionInput">Recipe instructions</label>
				    <textarea th:field="*{recipeInstruction}" class="form-control rounded-0" id="recipeInstructionInput" rows="5"></textarea>
				  </div>
				  <div class="form-group">
				    <label for="recipeTimeNeededInput">Time needed for the recipe</label>
				    <input th:field="*{recipeTimeNeeded}" type="text" class="form-control rounded-0" id="recipeTimeNeededInput" style="width:50px;">
				  </div>
				  <input type="file" class="form-control-file" id="choosePhotoId" name="choosePhoto">
			</form>
			<hr>
				<div class="container">
					<h4 id="h4IngredientList">Ingredients added: </h4>
					<table class="table" id="ingredientTable">
						<thead class="thead-dark">
						<tr>
							<th>Ingredient measurement</th>
							<th>Ingredient name</th>
						</tr>
						</thead>
						<tbody id="ingredientWithMeasurementTbody">
						<tr th:each="ingredientWithMeasurement : ${ingredientsWithMeasurements}" id="ingredientWithMeasurementTR">
							<td th:text="${ingredientWithMeasurement.measurement}"></td>
							<td th:text="${ingredientWithMeasurement.ingredient.ingredientTitle}"></td>
							<td><button type="button" class="btn btn-outline-danger" th:id="${ingredientWithMeasurement.ingredient.ingredientId}" >X</button></td>
						</tr>
						</tbody>
					</table>
				</div>
			<hr>
			<div class="form-group form-inline" id="ingredientsDiv">
				<input name="ingredientMeasurement" type="text" class="form-control rounded-0" id="ingredientMeasurementInput" style="width:150px;">
				<select class="custom-select" id="ingredientSelection">
				 	<option th:each="ingredient : ${ingredients}" th:value="${ingredient.ingredientId}" th:text="${ingredient.ingredientTitle}">One</option> 
				</select>
				<button type="submit" class="btn btn-primary" id="btnAddIngredient">Add the ingredient!</button>
			</div>
		</div>
	</body>
</html>